<p class="flash-notice"><%= flash[:notice] %></p>
<h1>Viagem iniciada em <%= @trip.start_time.strftime("%d/%m/%Y às %H:%M") %></h1>
<p><%= link_to 'Viagens', '/trips'%> | <%= link_to 'Estações', '/stations'%> </p>
<div>
    <p>
        Bairro de origem: <%= @origin_station.first.neighborhood %> |
        Usuário: <%= @user.name %>
    </p>
    <% if @trip.destiny_station_id == nil %>
        <p>Finalizar esta viagem</p>
        <%= render 'edit', trip: @trip %>
    <% else %>
        <p>
            Bairro de destino: <%= Station.where(id: @trip.destiny_station_id).first.neighborhood %> | 
            Finalizada em: <%= @trip.end_time.strftime("%d/%m/%Y às %H:%M") %> | 
            Valor da viagem: R$ <%= @trip.value %>
        </p>
    <% end %>
</div>