<h1>Estações</h1>
<p><%= link_to 'Viagens', '/trips' %> | <%= link_to 'Bikes', '/bikes' %></p>
<div>
    <ul>
        <% @stations.each do |station| %>
            <li>
                <% presenter = StationPresenter.new(station)%>
                <p>
                <%= link_to "Bairro: #{station.neighborhood}", "/stations/#{station.id}" %> |
                Bicicletas disponíveis: <%= presenter.available_bikes_in_station.count %> |
                Vagas disponíveis: <%= presenter.spots_available %> |
                Capacidade: <%= station.capacity %>
                <% if presenter.available_bikes_in_station.count > 0 %>
                    <%= link_to "Alugar uma bike", new_trip_path(station) %>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>