<h1>Bikes</h1>
<p><%= link_to 'Estações', '/stations' %> | <%= link_to 'Viagens', '/trips' %></p>
<div>
    <ul>
        <% @bikes.each do |bike| %>
            <li>
                <% presenter = BikePresenter.new(bike)%>
                <p>
                # <%= bike.id %>
                <%= link_to "Bairro: #{presenter.current_station.neighborhood}", "/stations/#{presenter.current_station.id}" %> |
                Status: <%= presenter.current_status %>
                <%= link_to "Mudar status", bike_path(bike) %>
            </li>
        <% end %>
    </ul>
</div>